page-registro{


      .content{
          background-color:#9ac3e2;
      }
      h1{
          text-align: center;
          color: #FF0000;
      }

      ion-item{
          width: 25%;
          display:block;
          margin:auto;
          float: center;
          border-radius:20px;
      }
      .boton_registro{
          margin-top: 500px;
          display:block;
          margin:auto;
      }

  }
